*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    box-sizing: border-box;
}
body{ 
    position: relative;
    max-height: 100vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;

}

header{
    padding: 20px;
    background-color: rgb(27, 26, 26, 0.3);
    
}
header nav{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
}
header #logo img{
    width: 55px;
}
header #menu img{


}
header a{
    text-decoration: none;
}

header nav ul{
    display: flex;
    color:aliceblue
}

#menu{
    margin-left: 800px;
    margin-right: 200px;
}
header nav li{
    font-size: larger;
    list-style: none;
}

video{ 
    position: absolute;
    z-index: -22;
    min-width: 100%;
    min-height: 100vh;
    top: 0;

}


