*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    box-sizing: border-box;
}
body{ 
    background-repeat: no-repeat;
    overflow: hidden;

    position: relative;
    max-height: 100vh;
    max-width: 100%;
}

header{
    padding: 20px;
    background-color: rgb(27, 26, 26, 0.3);
    padding-left: 40px;
    padding-right: 200px;   
}
header nav{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 35px; 
}

header nav li{
    font-size: 25px;
    list-style: none;
}

header img{
    width: 62px;
}

header a{
    text-decoration: none;
}

header nav ul li + li{
 /* Já já entra algo aqui, viu?! Não vai ficar aquelas tags <span> no index não!! */ 
}





video{ 
    position: absolute;
    z-index: -22;
    min-width: 100%;
    min-height: 100vh;
    top: 0;

}


.square{ 
    background-color: rgb(234, 120, 14, .6);
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
}



#welcome{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    font-size: xx-large;
}